
a,
button {
    color: black;
    text-decoration: none;
    cursor: revert;
}

ol,
ul,
menu,
summary {
    list-style: none;
}

table {
    border-collapse: collapse;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: opacity 2s ease;

}

#container-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: stretch;
    min-height: 100%;
}

html,
body {
    height: 100%;
}

#logo-top {
    width: 200px;
    margin: auto;
}

#logo-top img {
    width: 190px;
}


#msg-top {
    width: 100%;
    height: 1.5em;
    background-color: black;
    color: white;
    text-align: center;
}

#sous-logo {
    display: grid;
    grid-template-columns: 1fr 65% 1fr;
}

#recherche {
    width: 60%;

    display: flex;
    flex-direction: row;
    border-radius: 100px;
    margin: auto;
    padding: 5px;
    background: linear-gradient(to top, rgb(255, 172, 133), rgb(166, 166, 255));
}

#recherche-inp {
    font-size: large;
    color: gray;
    height: 3em;
    width: 100%;
    padding: 5px;
    border-radius: 100px;
}

#mini-menu {
    text-align: center;
    display: flex;
    gap: 20px;
}

#mini-menu a {
    text-decoration: none;
    color: rgb(255, 135, 80);
}

.icones-mini-menu {
    font-size: 3em;
}

.icone-rech {
    font-size: 2.5em;
}

#recherche a {
    color: white;
    text-decoration: none;
}


#navbar {
    margin: auto;
    background-color: rgb(255, 213, 196);
    color: rgb(21, 21, 116);
    font-weight: bold;
}

.menu-top {
    display: flex;
    justify-content: space-evenly;
}

.menu-top li {
    list-style-type: none;
}

.menu-contenu {
    visibility: hidden;
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    height: 200px;
    border: 4px solid skyblue;
    background-color: rgb(235, 244, 255);
    opacity: 0;
}

.hover:hover {
    background-color: rgb(235, 244, 255);
}

.hover:hover .menu-contenu {
    display: block;
    position: absolute;
    visibility: visible;
    opacity: 1;
    z-index: 3;
}

footer {
    background: linear-gradient(to bottom right, rgb(46, 46, 112), rgb(166, 166, 255));
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.footer-socials {
    display: flex;
    flex-direction: row;
}


.fa-brands {
    color: rgb(0, 0, 0);
    font-size: 3em;
}

#corps {
    flex-grow: 1;

}

.products-list {
    background-color: #ffcd8a;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, min(100%, 350px));
    gap: 45px;
    padding: 45px;
    justify-content: space-around;
    align-content: flex-start;
}

.card {
    background-color: white;

    position: relative;
    height: 350px;
}

.card img {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.card h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: rgb(57, 36, 105);
    font-weight: 700;
    font-size: 18px;
    width: 80%;
}

.big-card img{
width: 50%;
}